<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="org.apache.cordova.plugins.ActionSheet"
	version="1.0.0">
	
	<engines>
	    <engine name="cordova" version=">=1.7.0" />
	    <engine name="cordova" version=">=1.8.1" />
	    <engine name="worklight" version=">=1.0.0" />
	</engines>

	<name>ActionSheet</name>
	
	<description>iOS Native ActionSheet for use with Appgyver Steroids</description>
	
	<author>Original Author: Olivier Louvignes</author>
	
	<license>MIT License</license>

	<asset src="www/ActionSheet.js" target="ActionSheet.js" />

	<platform name="ios">
		<plugins-plist key="ActionSheet" string="CDVActionSheet" />

		<header-file src="src/ios/ActionSheet.h" />

		<source-file src="src/ios/ActionSheet.m" />
			
	</platform>

</plugin>

